{{page-title "KshopApp"}}

<header class="bg-white mb-2 flex justify-between px-12 py-4 border-b border-b-gray-200">
  <div>
    <img class="h-8" src="/assets/images/logo.png" alt="Special FX" />
  </div>
  <div class="">
    <ShoppingCart @quantity={{this.cart.quantity}} @totalPrice={{this.cart.totalPrice}}/>
  </div>
</header>

<div class="text-gray-800">
  {{outlet}}
</div>