{{page-title "Products"}}
<div class="flex flex-col items-center">
  <div class="">
    <LinkTo @route="products" class="flex flex-col mt-12">
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
        <span class="">
          Continue shopping
        </span>
      </div>
    </LinkTo>
    <h1 class="mt-16 text-4xl leading-10 font-medium">Shopping Cart</h1>
    <h2 class="text-xl leading-7 mt-2 mb-8">You have 4 items in your cart</h2>
    <div class="flex gap-x-12">
      <ul class="flex flex-col">
        <li class="flex shadow rounded-lg p-4 w-[720px]">
          <div><img class="h-[152px] w-[208px] rounded-lg" alt="Strawberries" src="/assets/images/strawberries.png" /></div>
          <div class="flex ml-8">
            <h1 class="text-xl font-bold">Strawberries</h1>
            <div>asd</div>
          </div>
        </li>
      </ul>
      <div class="rounded-lg shadow w-[404px] flex flex-col">
        <h1 class="bg-gray-100 rounded-t-lg font-bold text-xl px-8 py-4">
          Summary
        </h1>
        <ul class="flex flex-col p-8">
          <li class="flex justify-between">
            <div>Subtotal</div>
            <div>22.45</div>
          </li>
          <li class="flex justify-between">
            <div>Shipping Cost</div>
            <div>22.45</div>
          </li>
        </ul>
        <ul class="flex flex-col p-8 border-t">
          <li class="flex justify-between">
            <div>Total Payable</div>
            <div>19.34</div>
          </li>
          <li class="flex self-end pt-8">
           <button type="button">Go to Checkout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>